// Background colors 
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Font family
$font-titile:'Big Shoulders Display', cursive;
$font-description: 'Lexend Deca', sans-serif;

$parrafos: hsla(0, 0%, 100%, 0.75);
$buttons-text: hsl(0, 0%, 95%):

body{
    font-size: 15px;
}