// Background colors 
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Font family
$font-titile:'Big Shoulders Display', cursive;
$font-description: 'Lexend Deca', sans-serif;

$paragraphs: hsla(0, 0%, 100%, 0.75);
$buttons-text: hsl(0, 0%, 95%);

body{
    font-size: 15px;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

//Design first mobile

.cards{
    width: 60%;
    height: 320px;
    padding: 50px;

    h2{
        font-size: 30px;
        font-family: $font-titile;
        color: $buttons-text;
        text-transform: uppercase;
    }
    p{
        display: block;
        line-height: 1.5rem;
        font-family: $font-description;
        color: $paragraphs;
        height: 115px;
    }
    button{
        background-color: $buttons-text;
        font-family: $font-description;
        margin-top: 10px;
        border: none;
        width: 140px;
        height: 45px;
        border-radius: 20px;
        cursor: pointer;
    }
    button:active{
        background-color: transparent;
        color: $buttons-text;
        border: 1px solid $buttons-text;
    }
    
}

.cards:first-child{
    border-radius: 10px 10px 0 0;
    margin-top: 87px;
}

.cards:last-child{
    border-radius: 0 0 5px 5px;
    margin-bottom: 87px;
}

.sedans{
    background-color: $bright-orange;
    button{
        color: $bright-orange;
    }
}
.suvs{
    background-color: $dark-cyan;
    button{
        color: $dark-cyan;
    }
}
.luxury{
    background-color: $very-dark-cyan;
    button{
        color: $very-dark-cyan;
    }
}

//Breakpoint
$desktop-width: 768px;
@media(min-width: $desktop-width){
    .container{
        flex-direction: row;
        height: 100vh;
        width: 65%;
        margin: 0 auto;
        align-items: center;
    }
    .cards{
        width: 265;
       height: 415px; 
       h2{
           font-size: 40px;
       }
       button{
           margin-top: 100px;
       }
    }

    .cards:first-child{
        border-radius: 10px 0 0 10px;
        margin-top: 0px;
    }
    
    .cards:last-child{
        border-radius: 0 10px 10px 0;
        margin-bottom: 0px;
    }
}